<div class="parent">
    <div class="left-side">
        <form class="example-form">

            <mat-form-field appearance="fill" class="marque">
                <mat-label>Secteur</mat-label>
                <mat-select (selectionChange)="selectionSecteur($event)">
                    <mat-option *ngFor="let item of secteurList" [value]="item.secteur">
                        {{item.secteur}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="secteurSelected != null">
                <mat-label>Réparation</mat-label>
                <mat-select (selectionChange)="selectionReparation($event)">
                  <mat-option *ngFor="let item of reparationList.piece" [value]="item">
                    {{item}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </form>
        <a disabled>Ajouter une facture</a>
        <br>
        <a class="btn btn-light" (click)="ajoutReparation()" [ngClass]="{ 'disabled': !reparationSelected}" >Ajouter la réparation</a>
    </div>

    
  <div class="right-side">
    <h3>Réparations effectuées:</h3>
    <ul>
      <li *ngFor="let repair of listDoneRepairs">
        <span>{{ repair.type }} </span>
        <a class="btn btn-danger" (click)="deleteRepair(repair.id)" color="warn">Supprimer</a>
      </li>
     <span style="text-decoration: underline;"> {{ deleted }}</span>
    </ul>




  </div>
</div>