.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .marque {
    margin-right: 10px;
  }

  .parent {
    width:1000px;
    height:100px;
    border:1px solid red;
    margin-right:10px;
    margin-top:25px;
    float:left;
  }

  .left-side {
    float:left;
    width: 500px;
    height: 500px;
    margin-right:5px;
  }

  .parent {
    height: 100%;
    max-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-align: center;
  }
